footer
    .footer
        p Акции
        p Супермаркеты
        img(src="../../assets/img/logo-footer.png", alt="")
        p О Карте
        .call
            p Свяжитесь с нами
            a FreshStore@gmail.com