.header.grid
    .header__container
        .header__container-left
            .header__logo
                img(src="../../assets/img/logo-header.png", alt="")
            .header__text
                h1 Поиск
        .header__container-right
            .header__mobile
                p 8-800-555-35-35
                span Справочная служба
            .header__exit-icon
                img(src="../../assets/img/Exit-header.svg", alt="")
            
    
