.finding
    include ../includes/finding-input.pug
    .finding-grid
        .finding-grid__box
            .finding-grid__image
                img(class="icons",src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
.tab-content__outer
            