.finding
    include ../includes/finding-input.pug
    .finding-grid
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты
        .finding-grid__box
            .finding-grid__image
                img(src="../../assets/img/finding-fructs.svg", alt="")
            .finding-grid__text
                p Овощи, фрукты