doctype html
html(lang='ru')
  head
    title FreshStore
  body
    include ../includes/header.pug
    .page1.grid
      include ../includes/control.pug
      include finding.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
