.control__container {
    display: flex;
    flex-direction: column;
    .control__item{
        text-align: center;
        height: 50px;
        width: 40px;
        margin: 5px 0;
        &:not(:last-child) {
            border-bottom: 1px solid rgba($mainFontColor, 0.42);
            
        }
    }
}