.page1 {
    margin-top: 100px;
    display: flex;
}
.finding {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 250px;
}
.finding-grid {
    display: flex;
    flex-wrap: wrap;
}
.finding-input {
    margin: 0 auto;
}
.finding-grid__box {
    position: relative;
    background-color: #f0e4b3;
    margin-left: 20px;
    margin-top: 20px;
    width: 140px;
    height: 140px;
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}
.aica {
    /* position: relative;
    left: 91.5%;
    top: 50%;
    margin-top: -12px;
    content: ' ';
    width: 0px;
    height: 0px;
    border-style: inset solid inset solid;
    border-width: 7.5px 12px 7.5px 0;
    border-color: transparent #fff transparent transparent; */
    box-shadow: 10px 11px 23px -5px rgba(240,191,181,0.78);
    transition: ease-in 0.2s;
}

.finding-grid__image {
    width: 62px;
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
}
.finding-grid__text {
    text-align: center;
    width: 60%;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.88;
    letter-spacing: -0.18px;
    margin: 0 auto;
}

.tab-content__outer {
    display: none;
    position: fixed;
    right: 100px;
    a {
        opacity: .70;
        display: block;
        color: $neutral-secondary;
        padding: 7px 0;
        &:hover {
            opacity: 1;
            cursor: pointer;
            color: #f0bfb5;
            transition: ease-in-out 0.1s
        }
    }
}