// header style
.grid {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header__container-left {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .header__text {
        margin-left: 100px;
        margin-bottom: 20px;
        font-family: $mySecontFont;
        font-size: 48px;
        font-weight: 400;
    }
}
.header__container-right {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    text-align: center;
    margin-right: 15px;
    .header__mobile {
        p {
            font-family: $mySecontFont;
            font-size: 24px;
            font-weight: 400;
        }
        span {
            color: $light-color;
            font-size: 16px;
            letter-spacing: 0.08px;
        }
    }
    .header__exit-icon {
        margin-top: 8px;
        margin-left: 15px;
    }
}